<div class="manga-wrapper">

    <div class="nav-bar">

        <a class="a-link-home" routerLink="">Panels of Panels.</a>
        <a class="a-link active" routerLink="../favorite-manga">Favorite.</a>
        <a class="a-link" routerLink="../manga-list">All Panels.</a>
        <a class="a-link"  routerLink="../add-manga">Add a Panel.</a>

    </div>

    <div class="manga-list">

        <span [ngStyle]="{ display: checkPanels() }" class="empty-favorite">Go to All Panels to add some favorite panels here.</span>

        <ng-container *ngFor="let manga of addedFavoritePanels; let i = index"  >

            <div  [ngClass]="{ 'manga-panel-4column':  checkIndexValue(i), 'manga-panel-2column':  !checkIndexValue(i) }" >

                <img [src]="manga.image" *ngIf="manga.image" >

                <div class="manga-panel-content">

                    <span class="manga-panel-text" >  {{ manga.title }} || Chapter: {{manga.chapter}} </span>
                    <div class="manga-panel-actions">

                        <span (click)="removeMangaPanel(i)" class="action-remove">Remove</span>

                    </div>

                </div>

            </div>

        </ng-container>             
                   

    </div> 
  
</div>