<div class="manga-wrapper">

    <div class="nav-bar">

        <a class="a-link-home" routerLink="">Panels of Panels.</a>
        <a class="a-link" routerLink="../favorite-manga">Favorite.</a>
        <a class="a-link active" routerLink="../manga-list"  >All Panels.</a>
        <a class="a-link"  routerLink="../add-manga">Add a Panel.</a>

    </div>

    <div class="manga-list">

        <div class="manga-panel-4column">

            <img src="assets/home-assets/tokyo-ghoul-1.jpg" >

            <div class="manga-panel-content">

                <span class="manga-panel-text" >Title || Chapter</span>

                <div class="manga-panel-actions">

                    <span class="action-favorite">Favorite</span>
                    <span class="action-remove">Remove</span>

                </div>

            </div>

        </div>
        

        <div class="manga-panel-2column">

            <img src="assets/home-assets/sun-ken-rock.jpg" >

            <div class="manga-panel-content">

                <span class="manga-panel-text" >Title || Chapter</span>
                <div class="manga-panel-actions">
                    
                    <span class="action-favorite">Favorite</span>
                    <span class="action-remove">Remove</span>

                </div>

            </div>

        </div>

        <div class="manga-panel-2column">

            <img src="assets/home-assets/tokyo-ghoul-2.jpg" >

            <div class="manga-panel-content">

                <span class="manga-panel-text" >Title || Chapter</span>
                <div class="manga-panel-actions">

                    <span class="action-favorite">Favorite</span>
                    <span class="action-remove">Remove</span>

                </div>

            </div>

        </div>

        <div class="manga-panel-2column">

            <img src="assets/home-assets/tokyo-ghoul-2.jpg" >
            <div class="manga-panel-content">

                <span class="manga-panel-text" >Title || Chapter</span>
                <div class="manga-panel-actions">

                    <span class="action-favorite">Favorite</span>
                    <span class="action-remove">Remove</span>

                </div>

            </div>

        </div>
        
    </div>

</div>