@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@400;500;700;900&display=swap');

:root {



    --dark-moss-green: #4f5d75;
    --pakistan-green: #2d3142;
    --cornsilk: #bfc0c0;

}



html,
body {

    margin: 0;
    padding: 0;

}