
 <div class="body-wrapper">
        
        

        <div class="nav-bar">

            <a class="a-link-home" routerLink="">Panels of Panels</a>


        </div>


        <div class="manga-image">

            <img  src="{{ image }}">
           

            <div class="manga-wrapper">
                
                <div class="manga-wrapper-divider" (mouseover)="changeImage(1)" ></div>
                <div class="manga-wrapper-divider" (mouseover)="changeImage(2)"></div>
                <div class="manga-wrapper-divider" (mouseover)="changeImage(3)"></div>
                <div class="manga-wrapper-divider" (mouseover)="changeImage(4)"></div>
                <div class="manga-wrapper-divider" (mouseover)="changeImage(5)"></div>
                <div class="manga-wrapper-divider" (mouseover)="changeImage(6)"></div>

            </div>

        </div>

        <footer class="nav-footer">

            <a class="a-link" routerLink="favorite-manga">Favorite.</a>

            <a class="a-link"  routerLink="manga-list">All Panels.</a>

            <a class="a-link"  routerLink="add-manga">Add a Panel.</a>

        </footer>
        
    </div>
